.ace_editor { height: 400px; }

.title {
  font-weight: bold;
  color: black;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.default {
  background-image: url('../images/congruent_pentagon_grey.png');
}

.invalid {
  background-image: url('../images/congruent_pentagon_red.png');
}

.valid {
  background-image: url('../images/congruent_pentagon_green.png');
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}