@(validationRequestForm: Form[ValidationRequest])(implicit messages: Messages)

<link rel='stylesheet'        href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
<link rel='stylesheet'        href='@routes.Assets.at("stylesheets/main.css")'/>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script type="text/javascript" src='@routes.Assets.at("lib/angularjs/angular.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/ace/src-min-noconflict/ace.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/angular-ui-ace/ui-ace.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/validation.js")'></script>

<body ng-app="JSONSchemaValidationApp"
      ng-controller="SubmitValidationController as vm"
      ng-class="{true: 'valid', false: {true: 'invalid', false: 'default'}[vm.isInvalid]}[vm.isValid]">
<h1 class="text-center title">JSON Schema Validator</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">JSON Schema</h3>
            <div ui-ace="{
                 useWrapMode: true,
                 showGutter: true,
                 theme:'twilight',
                 mode: 'json',
                 onChange: vm.resetValidationState,
                 }"
                 ng-model="vm.schema"></div>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">JSON Instance</h3>
            <div ui-ace="{
                 useWrapMode: true,
                 showGutter: true,
                 theme:'twilight',
                 mode: 'json',
                 onChange: vm.resetValidationState,
                 }"
                 ng-model="vm.instance"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 1em">
        <form class="col-md-12 text-center" ng-submit="vm.submit()">
            Enter schema and instance and click 'Validate':<br>
            <input class="btn btn-primary" type="submit" id="submit" value="Validate" />
        </form>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div ng-if="vm.isInvalid">
                <pre class="alert alert-danger">{{vm.errors}}</pre>
            </div>
            <div ng-if="vm.isValid" class="alert alert-success">
                <strong>Success!</strong> This is a valid instance.
            </div>

            <p class="col-lg-12">
                This is a JSON schema draft v4 validator implemented in Scala based on play-json.
                For issues and features requests, please file an issue on <a href="http://github.com/eclipsesource/play-json-schema-validator/issues/new">github</a>.<br>
            </p>
        </div>
    </div>
    <footer class="row text-center footer" style="font-size: 0.75em">
        Props to <a href="https://github.com/angular-ui/ui-ace">UI Ace</a> for the editor components and
        <a href="http://subtlepatterns.com/">http://subtlepatterns.com/</a> for the background image.
    </footer>
</div>

</body>
